<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236670279140-d4aqmc2snb9ul0f54o9deuqhcoji2kkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236670279140-d4aqmc2snb9ul0f54o9deuqhcoji2kkq</string>
	<key>API_KEY</key>
	<string>AIzaSyCL_NC6HP_tdv6TV2Xljny6UlcZyMMeDbs</string>
	<key>GCM_SENDER_ID</key>
	<string>236670279140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spielereinzig.zannasclothing.zannasClothing</string>
	<key>PROJECT_ID</key>
	<string>zanna-clothing</string>
	<key>STORAGE_BUCKET</key>
	<string>zanna-clothing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236670279140:ios:1b3f11bf8b5a5a44517bf1</string>
</dict>
</plist>